body{
	background-color: #eff0f4;
}
.header{
	background-color: #5fc0cd;
	width: 100%;
	height: 50px;
	margin-bottom: 10px;
	color: #FFFFFF;
	letter-spacing: 2px;
	}
ul{
	list-style: none;
	font-size: 150%;
	margin: 0%;
	padding: 0%;
	padding-top: 10px;
}
.li1{
	padding-left: 5px;
	float: left;
}
.li2{
	position: absolute;
	left: 45%;
}
.li3{
	padding-right: 5px;
	float: right;
}
input{
	height: 100px;
	width: 100%;
	background-repeat: no-repeat;
	margin-bottom: 10px;
	text-indent: 150px;
	border: none;
	outline: none;
}
.phone{
		background-image: url(images/登陆_02.png);
}
.lock{
	background-image: url(images/登陆_05.png);
}
button{
	background-color: #5FC0CD;
	width: 100%;
	height: 70px;
	color: #FFFFFF;
	letter-spacing: 10px;
	font-size: 150%;
	border: none;
	outline: none;
	
}
a{
	color: #5FC0CD;
	font-weight: bold;
	float: right;
	letter-spacing: 1px;
	
}
