* {
	margin: 0;
	padding: 0;
}
.head{
	position: fixed;
	top: 0;
	z-index: 1;
	width: 100%;
}
.top{
	background-color: #5FC0CD;
	height: 5.2rem;
	
}
.index{
	background: #55a8b3;
	border-radius: 0.5rem;
}
.boss{
	background-color: #55A8B3;
	color: #FFFFFF;

	font-size: 1.5rem;
	margin: -0.3rem;
}
.worker{
	background-color: #FFFFFF;
	color: #5FC0CD;
	font-size: 1.5rem;

}

.top button{
	border-radius: 0.5rem;
	
}

.photo{
	position: fixed;
	right: 1rem;
	top: 0.7rem;


}
.btn-primary{
	color: #C0C0C0;
	background-color: #FFFFFF;
	border-left: none;
	border-top: none;
	border-bottom-color: #C0C0C0;
	border-right-color: #C0C0C0;
	height: 3rem;
	font-size: 1.5rem;
}
.btn1:hover{
	background-color: #C0C0C0;
}
.moth{
	margin-top: 9rem;
}
.container-fluid{
	padding: 0;	
}
.select .col-4{

	padding: 0rem;
}

.year{
width: 24px;
height: 24px;
background: url(images/sprites.png) -0 -24px;
background-repeat: no-repeat;
margin-left: 1rem;
}
.location{
	 width: 19px; height: 23px;
    background: url(images/sprites.png) -0 -0;
    margin-left: 1rem;
}
.icon{
	    width: 19px; height: 33px;
    background: url(images/sprites.png) -0 -47px;
    border: none;
}
button:focus{
	outline: none;
}

.graycolor{
	color: #C0C0C0;
	font-size: 1.5rem;
	margin-left: 0.5rem;
}
h3.date {
    font-weight: 50rem;
    margin-left: 3rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.time{
	color: #e63b0e;
}

.footer {
	position: fixed;
	width: 100%;
	height: 6rem;
	bottom: 0px;
	background-color: #f8fafb;
}
.home{

}

.point{

}
.my{
}

h4{
	font-size: 1rem;
}
.green{
	color: #5FC0CD;
}
.gray{
	color: gray;
}
.footer button{
	border: none;
	background-color: #F8FAFB;
}
.full{
	height: 6rem;
}

@media screen and (max-width: 400px) {
	html{
		font-size: 75%;
	}
	img{
		width: 75%;
		}
		
}