
.head{
	margin-top: 1rem;
	margin-bottom: 1rem;
	color: #29b078;
}
.row{
	overflow: hidden;
}
.photos img{
	width: 1rem;
	height: 1rem;
	margin-right: 1rem;
}
.ear{
	background: #29B078;
}
.del{
	display: none;
}
.face{
	height: 3.375rem;
	line-height: 3.375rem;
	background: #29B078;
	width: 100%;
	text-align: center;
}
.face img{
	width: 110px;
	height: 54px;
}
.face li{
	float: left;
	list-style: none;
	text-decoration: none;
	font-size: 1.1rem;
}
.face a{
	color: #FFFFFF;
}
.face a:hover{
	text-decoration: none;
	color: #FFFFFF;
}
.face li:hover .line{
	margin-top: -0.2rem;
	background: #FFFFFF;
	height: 0.2rem;
	width: auto;
}
.box{
	background: #FAFAFA;
}

.together{
	padding-top: 1rem;
	margin-bottom: 1rem;
}
.together p{
	display: inline-block;
	font-weight: bold;
}
.together a:hover{
	text-decoration: none;
	color: #29B078;
}
.green{
	color: #29B078;
}
hr{
	border: none;
	height: 0.05rem;
	margin-top: 0rem;
	padding-left: 0;
	background: #C6C8CA;
}
.hr{
	height: 0.1rem;
	margin-bottom: 1rem;
	background: #C6C8CA;
}
.direction li{
	float: left;
	margin-right: 1rem;
	list-style: none;
}
.direction p{
	color: #C6C8CA;
	white-space: nowrap;
}
.direction ul{
	margin-left: -1rem;
}
.direction a{
	color: #000000;
}
.direction a:hover{
	color: #FFFFFF;
	background: #29B078;
	text-decoration: none;
}
h6{
	font-weight: bold;
	margin-top: 1rem;
	margin-bottom: 2rem;
}
.biao{
	overflow: hidden;
}
.graph{
	font-size: 0.5rem;
	width: 100%;
	background: #FFFFFF;
	margin-bottom: 15px;
}
.one{
	border: 1px solid #ADB5BD;
	padding: 0.5rem;
}
.one img{
	margin-right: 1rem;
	width: 153px;
	height: 154px;
}
.one p{
	font-weight: bolder;
}
.door{
	width: 50%;
	border: 1px solid #ADB5BD;
	border-top: none;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 0.5rem;
}
.easy{
	width: 50%;
	border: 1px solid #ADB5BD;
	border-left: none;
	border-top: none;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 0.5rem;
}
.two img{
	margin-top: -0.3rem;
	margin-left: 0.5rem;
}
.week{
	width: 50%;
	border: 1px solid #ADB5BD;
	border-top: none;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 0.5rem;
}
.none{
	width: 50%;
	border: 1px solid #ADB5BD;
	border-left: none;
	border-top: none;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 0.5rem;
}
.three span{
	margin-left: 0.5rem;
	color: #DC3545;
}
.money{
	width: 40%;
	border: 1px solid #ADB5BD;
	border-top: none;
}
.year{
	width: 60%;
}
.first{
	border: 1px solid #ADB5BD;
	border-left: none;
	border-top: none;
	padding: 0.5rem;
	display: flex;
	justify-content: space-between;
}
.five{
	border: 1px solid #ADB5BD;
	border-top: none;
	padding: 0.5rem;
}
.five span{
	color: #DC3545;
}
.door,.easy,.week,.none,.money,.six{
	color: #ADB5BD;
}
.click{
	position: absolute;
	top: 0;
	left: 100%;
	background: rgba(0,0,0,0.7);
	color: #FFFFFF;
	font-size: 1rem;
	width: 100%;
	height: 96.5%;
}
.click h6{
	text-align: center;
	margin-top: 2rem;
}
.click p{
	margin: 2rem;
}
.graph:hover .click{
	left: 16px;
	transition: 1s left;
}





.foot{
	background: #29B078;
	color: #FFFFFF;
}
.foot a{
	color: #FFFFFF;
}
.foot a:hover{
	text-decoration: none;
	color: #FFFFFF;
	border-bottom: solid 1px #FFFFFF;
}
.tiao{
	margin-top: 2rem;
	margin-bottom: 0rem;
	border: none;
	height: 0.1rem;
	background: #71DD8A;
	
}	
.bottom{
	text-align: center;
	margin: 0;
	color: #FFFFFF;
	font-size: 0.5rem;
}


@media screen and (max-width: 991px) {

		.ear{
		display: none;
	}
	.del{
		display: block;
		background: #29B078;
		text-align: center;
	}
	.del a{
		color: #FFFFFF;
	}
	.btn{
		background: #34CE57;
		border: none;
		margin: 0.5rem;
		padding: 0.5rem;
	}
	.btn:hover{
		background: #1C7430;
	}
	.collapse a:hover{
		color: #FFFFFF;
		background: rgba(255,255,255,0.15);
	}
	.face{
		height: 16.8rem;\
		line-height: 16.8rem;
	}
	.carousel-caption{
	padding-bottom: 4%;
	}
	h1{font-size: 1rem;}
	h2{font-size: 0.5rem;}
	h4{font-size: 0.8rem;}
	.text-left{
		justify-content: center;
		display: flex;
	}
	.zuo{
		display: flex;
		justify-content: flex-start;
	}
}
@media screen and (max-width: 374px) {
	.one img{
		width: 100px;
		height: 100px;
	}
	.click{
		font-size: 0.9rem;
	}
	.graph:hover .click{
	width: 91%;
}
}
@media screen and (min-width: 1200px) {
.graph:hover .click{
	width: 92%;
}
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
	.graph:hover .click{
	width: 93.5%;
}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.graph:hover .click{
	width: 91%;
}
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
	.graph:hover .click{
	width: 94.5%;
}
}
@media only screen and (min-width: 375px) and (max-width: 575px) {
	.graph:hover .click{
	width: calc(100% - 30px);
}
}